body {background-color: #1C1C1C, text - align : justify;}
h1 {text-align : center; background-color: #000080 ; color: #00BFFF;}
h3 {text-align: justify;  color: #7FFFD4;}
b {color: blueviolet; font size: 18px ;}
i {color: crimson ; font-size: 18px ;}
header,footer {background-color: darkorange ; text-align: center;}
main {background-color: magenta;}